<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <!-- <nav>

        <div class="site-title">
            <a href="/"><h1>Blog App</h1></a>
           <p>
              All blogs
           </p>
        </div>

        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
                
        </ul>
    </nav> -->
    <%- include('./partials/nav.ejs') %> 
    <div class="blogs content">
        <h2>
            <p>This Blog app is built using express.js,node.js and other npm library. This app used NoSQL Database MongoDB. You can create your blog, edit them and delete them.</p>
        </h2>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>